.modal {
    display: none; 
    position: absolute; /* Keep it absolute */
    z-index: 1; 
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 0; /* No padding for the modal itself */
}

.modal-content {
    background-color: #b2ecfd;
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Width for the modal */
    position: relative; /* Keep relative positioning */
    margin-left: 20px; /* Add left margin for space from the person */
    margin-top: 10px; /* Add top margin for space above the modal */
}


        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        /* Base style for the nodes */

